header {
  padding: 10px 0;
  box-shadow: 0 10px lighten(#000000, 10%);
  z-index: 10;
  
  h1 {
    margin: 0;
  }

  .container {
    .header-logo {
      float: left;
    }

    .header-menu {
      float: right;
      margin: 0;

      li {
        list-style: none;
        float: left;

        a {
          line-height: 20px;
          padding: 20px;
          text-decoration: none;
          display: block;
          background-color: green;

          &.signup {
            background-color: $mainButtonColor;
            color: white;
            padding-right: 40px;
            padding-left: 40px;
          }
        }
      }
    }
  }
}
@media (max-width: $spMaxWidth) {
  header {
    .container {
      .header-menu {
        display: none;
      }
    }
  }
}
