header {
  height: 64px;
  box-shadow: 100px 0px black;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;

  h1 {
    margin: 0 0 0 10px;
    font-size: 24px;
    line-height: 64px;
  }

  .header-logo {
    float: left;
  }

  .header-menu {
    float: right;
    margin: 0;

    li {
      list-style: none;
      float: left;

      a {
        height: 64px;
        line-height: 64px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
        display: block;
        background-color: $basicButtonColor;

        &.signup {
          background-color: $mainButtonColor;
          color: white;
          padding-right: 40px;
          padding-left: 40px;
        }

        &.active {
          background-color: $activeButtonColor;
        }

        &:hover {
          background-color: $hoverButtonColor;
        }
      }
    }
  }
}
@media (max-width: $spMaxWidth) {
  header {
    .header-menu {
      display: none;
    }
  }
}
