<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Vue direct-JS Sample</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <h1>基本的な使い方: はじめに</h1>
  <div id="app1">
    <h2>1. 宣言的レンダリング</h2>
    <h3>テンプレート</h3>
    {{ message }}

    <h3>属性値</h3>
    <button v-bind:title="message2">Hover Me!</button>

    <h2>2. 条件分岐とループ</h2>
    <p v-if="display">
      表示できるはずです
    </p>
    <p v-if="!display">
      見えたらおかしいですよね
    </p>
    <ul>
      <li v-for="item in list">
        {{ item.text }}
      </li>
    </ul>

    <h2>{{ title3 }}</h2>
    <button v-on:click="changeTitle">いたずらする</button>
    <p>{{ afterTitle }}</p>
    <input v-model="afterTitle" />

    <h2>4. コンポーネントによる構成</h2>
    <sample-component></sample-component>
    <ul>
      <sample-props-component
        v-for="item in list"
        v-bind:sample-item="item"
        v-bind:key="item.id"></sample-props-component>
    </ul>

  </div>
  <!-- 下部に挿入しないと動作しない -->
  <script src="./vuesample-1.js"></script>
</body>

</html>
