<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>9. フォーム入力バインディング</title>
    <link rel="stylesheet" type="text/css" href="vuesample.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>基本的な使い方: フォーム入力バインディング</h1>
    <div id="app1">
      <h2>1. 基本的な使い方</h2>
      <h3>テキストボックス</h3>
      <p>{{ message }}</p>
      <input v-model="message" />

      <h3>テキストエリア</h3>
      <p style="white-space: pre-line;">{{ multiLineMessage }}</p>
      <textarea v-model="multiLineMessage"></textarea>

      <h3>チェックボックス</h3>
      <div>
        <input type="checkbox" id="checkbox1" v-model="checked[0]" /><label
          for="checkbox1"
          >最初からOFFなチェックボックス: {{ checked[0] }}</label
        ><br />
        <input type="checkbox" id="checkbox2" v-model="checked[1]" /><label
          for="checkbox2"
          >最初からONなチェックボックス: {{ checked[1] }}</label
        >
      </div>

      <h4>値付き</h4>
      <div>
        <input
          type="checkbox"
          id="name1"
          value="山田"
          v-model="selectedNames"
        />
        <label for="name1">山田</label>
        <input
          type="checkbox"
          id="name2"
          value="吉田"
          v-model="selectedNames"
        />
        <label for="name2">吉田</label>
        <input
          type="checkbox"
          id="name3"
          value="田中"
          v-model="selectedNames"
        />
        <label for="name3">田中</label>
        <br />
        <span>チェック済: {{ selectedNames }}</span>
      </div>

      <h3>ラジオボタン</h3>
      <div>
        <p>選局中: {{ radioTuned }}</p>
        <input
          type="radio"
          id="radio1"
          value="80.0MHz"
          v-model="radioTuned"
        /><label for="radio1">80.0MHz: A radio</label><br />
        <input
          type="radio"
          id="radio2"
          value="90.0MHz"
          v-model="radioTuned"
        /><label for="radio2">90.0MHz: B radio</label><br />
        <input
          type="radio"
          id="radio3"
          value="100.0MHz"
          v-model="radioTuned"
        /><label for="radio3">100.0MHz: C radio</label><br />
      </div>

      <h3>選択</h3>
      <div>
        <p>現在のモード: {{ selectedRadio }}</p>
        <select v-model="selectedRadio">
          <option disabled value="">AM/FM/simal</option>
          <option>AM</option>
          <option>FM</option>
          <option>simal</option>
        </select>
      </div>

      <h3>複数の選択</h3>
      <div>
        <p>
          好きなラジオ局: {{ favoriteRadioStation }}<br />
          Ctrl, Shiftキーで複数選択してね！
        </p>
        <select v-model="favoriteRadioStation" multiple>
          <option>80.0MHz A radio</option>
          <option>90.0MHz B radio</option>
          <option>100.0MHz C radio</option>
        </select>
      </div>

      <h3>動的なオプション</h3>
      <div>
        <p>
          人気なラジオ局<br />
          選択済み: {{ selectedFeaturedRadio }}
        </p>
        <select v-model="selectedFeaturedRadio" multiple>
          <option v-for="item in featuredRadio" :value="item.value">{{
            item.text
          }}</option>
        </select>
      </div>

      <h2>2. 値のバインディング</h2>
      <div>
        <p>
          下のラジオボタンでメッセージを切り替えられます:
          {{ selectedBindMessage }}
        </p>
        <input
          type="radio"
          v-model="selectedBindMessage"
          :value="bindedSelection[0]"
          id="bind-message-select-1"
        /><label for="bind-message-select-1">Message A</label>
        <input
          type="radio"
          v-model="selectedBindMessage"
          :value="bindedSelection[1]"
          id="bind-message-select-2"
        /><label for="bind-message-select-2">Message B</label>
      </div>

      <h3>チェックボックス</h3>
      <div>
        <p>Vue.jsを勉強したいですか？ {{ selectedCheckMessage }}</p>
        <input
          type="checkbox"
          v-model="selectedCheckMessage"
          true-value="はい"
          false-value="いいえ"
          id="check-message"
        /><label for="check-message">アナタの選択</label>
      </div>

      <h3>ラジオボタン</h3>
      <div>
        <p>選局中: {{ selectedPickMessage }}</p>
        <input
          type="radio"
          id="radio10"
          :value="featuredRadio[0]['stationName']"
          v-model="selectedPickMessage"
        /><label for="radio10">70.0MHz</label><br />
        <input
          type="radio"
          id="radio11"
          :value="featuredRadio[1]['stationName']"
          v-model="selectedPickMessage"
        /><label for="radio11">77.0MHz</label><br />
        <input
          type="radio"
          id="radio12"
          :value="featuredRadio[2]['stationName']"
          v-model="selectedPickMessage"
        /><label for="radio12">82.0MHz</label><br />
      </div>

      <h3>選択オプション</h3>
      <div>
        <select v-model="selectedSelectObject" @change="selectChange">
          <option v-for="item in featuredRadio" :value="item">{{
            item.text
          }}</option>
        </select>
      </div>

      <h2>3. 修飾子</h2>
      <h3>.lazy</h3>
      <div>
        <p>{{ lazyInputedText }}</p>
        <input
          v-model.lazy="lazyInputedText"
          placeholder="遅れて反映されると思います"
        />
      </div>

      <h3>.number</h3>
      <div>
        <ul>
          <li>
            .numberなし: <input v-model="notCastedValue" /> typeof:
            {{ typeof notCastedValue }}
          </li>
          <li>
            .numberあり: <input v-model.number="castedValue" /> typeof:
            {{ typeof castedValue }}
          </li>
        </ul>
      </div>

      <h3>.trim</h3>
      <div>
        <p>空白が取り除かれると思います</p>
        <ul>
          <li>
            .trimなし: <input v-model="notTrimedInputValue" /> result:
            <span style="background-color: aqua">{{
              notTrimedInputValue
            }}</span>
          </li>
          <li>
            .trimあり: <input v-model.trim="trimedInputValue" /> result:
            <span style="background-color: aqua">{{ trimedInputValue }}</span>
          </li>
        </ul>
      </div>
    </div>
    <script src="./vuesample-9.js"></script>
  </body>
</html>
